@import "variables";

html,
body {
  margin: 0;
  width: 100%;
  height: 1500px;
  display: flex;
  justify-content: center;
  background-color: $back-color;
}
.mini-txt {
  font-size: 12px;
  line-height: 18px;
}
.norm-txt {
  font-size: 14px;
  line-height: 21px;
}
.large-txt {
  font-size: 20px;
  line-height: 30px;
}
.bold-txt {
  font-weight: bold;
}
.lm-generic {
  font-family: $def-font;
  border-radius: 16px;
}
#tmp-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  //border: 1px solid black;
  width: 312px;
  height: 100%;
}
#profind-logo {
  //border: 1px solid black;
  width: 100%;
  height: 130px;
}
#explanation-txt {
  margin-top: 30px;
}
a {
  &:link,
  &:visited {
    color: $pri-color;
    text-decoration: none;
  }
  &:hover {
    color: $pri-color-semi-bold;
  }
  &:active {
    opacity: 0.5;
  }
}
.bottom-panel {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.bottom-panel a {
  width: 100px;
  text-align: center;
}
#code-txt-container {
  margin-top: 30px;
}
#contributors {
  width: 100%;
  display: flex;
  justify-content: center;
}
#contributors {
  color: $pri-border;
  margin-top: 10px;
}

#copy-txt-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover #copy-txt-hint {
    visibility: visible;
  }
}
#copy-txt-hint {
  white-space: nowrap;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -9px;
}
