html,
body {
  margin: 0;
  width: 100%;
  height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
}

.mini-txt {
  font-size: 12px;
  line-height: 18px;
}

.norm-txt {
  font-size: 14px;
  line-height: 21px;
}

.large-txt {
  font-size: 20px;
  line-height: 30px;
}

.bold-txt {
  font-weight: bold;
}

.lm-generic {
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  border-radius: 16px;
}

#tmp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 60px;
  width: 312px;
  height: 100%;
}

#profind-logo {
  width: 100%;
  height: 130px;
}

#explanation-txt {
  margin-top: 30px;
}

a:link, a:visited {
  color: #0095f6;
  text-decoration: none;
}

a:hover {
  color: #0065a8;
}

a:active {
  opacity: 0.5;
}

.bottom-panel {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.bottom-panel a {
  width: 100px;
  text-align: center;
}

#code-txt-container {
  margin-top: 30px;
}

#contributors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contributors {
  color: #cccccc;
  margin-top: 10px;
}

#copy-txt-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#copy-txt-btn:hover #copy-txt-hint {
  visibility: visible;
}

#copy-txt-hint {
  white-space: nowrap;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -9px;
}
/*# sourceMappingURL=base.css.map */