doctype html
head
  link(rel='stylesheet', type='text/css', href='/style/base.css')
  meta(charset='UTF-8')
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
#tmp-container
  #profind-logo
    img(src='/assets/profind.png', width='312', height='130')
  span#explanation-txt.lm-generic.norm-txt
    | Dear #{name}, 
    br
    br
    |     please enter the code below in your application in order to verify your account. 
    |     Then press submit your code. Please make sure your registration proceeds. 
    |     Otherwise, please contact us from the link below.
  #code-txt-container
    span#code-txt.lm-generic.large-txt #{code}
  footer.bottom-panel
    a.lm-generic.mini-txt.bold-txt(href='') TERMS
    a.lm-generic.mini-txt.bold-txt(href='') CONTACT
